@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Helvetica LT Std";
  src: url("font/HelveticaLT/HelveticaLTStd-Cond.eot");
  src: local("font/HelveticaLT/Helvetica LT Std Condensed"), local("HelveticaLTStd-Cond"), url("font/HelveticaLT/HelveticaLTStd-Cond.eot?#iefix") format("embedded-opentype"), url("font/HelveticaLT/HelveticaLTStd-Cond.woff") format("woff"), url("font/HelveticaLT/HelveticaLTStd-Cond.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url("font/HelveticaLT/HelveticaLTStd-Bold.eot");
  src: local("font/HelveticaLT/Helvetica LT Std Bold"), local("HelveticaLTStd-Bold"), url("font/HelveticaLT/HelveticaLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("font/HelveticaLT/HelveticaLTStd-Bold.woff") format("woff"), url("font/HelveticaLT/HelveticaLTStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url("font/HelveticaLT/HelveticaLTStd-LightCond.eot");
  src: local("font/HelveticaLT/Helvetica LT Std Light Condensed"), local("HelveticaLTStd-LightCond"), url("font/HelveticaLT/HelveticaLTStd-LightCond.eot?#iefix") format("embedded-opentype"), url("font/HelveticaLT/HelveticaLTStd-LightCond.woff") format("woff"), url("font/HelveticaLT/HelveticaLTStd-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url("font/HelveticaLT/HelveticaLTStd-Roman.eot");
  src: local("font/HelveticaLT/Helvetica LT Std Roman"), local("HelveticaLTStd-Roman"), url("font/HelveticaLT/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("font/HelveticaLT/HelveticaLTStd-Roman.woff") format("woff"), url("font/HelveticaLT/HelveticaLTStd-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Helvetica LT Std";
}

header {
  background-color: #4b96a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  font-family: "Cherry Swash", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  margin-left: 55px;
}
header ul li {
  font-family: "Helvetica LT Std";
  font-size: 18px;
  color: #fff;
  display: inline-block;
  margin-right: 22px;
}
header ul li a {
  font-family: "Helvetica LT Std";
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.slider {
  position: relative;
}
.slider__container {
  overflow: hidden;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.slider_disable-transition {
  -webkit-transition: none;
  transition: none;
}
.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider__item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/slider.jpg");
  background-size: 100% 100%;
}
.slider__item:nth-child(1) span {
  font-family: "Helvetica LT Std";
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  text-align: center;
}
.slider__item:nth-child(1) button {
  margin-top: 44px;
  border: 3px solid #afb1b3;
  border-radius: 3px;
  width: 233px;
  height: 46px;
  background-color: transparent;
  font-weight: 300;
  font-size: 30px;
  color: #e4e4e4;
}
.slider__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/slider.jpg");
  background-size: 100% 100%;
}
.slider__item:nth-child(2) span {
  font-family: "Helvetica LT Std";
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  text-align: center;
}
.slider__item:nth-child(2) button {
  margin-top: 44px;
  border: 3px solid #afb1b3;
  border-radius: 3px;
  width: 233px;
  height: 46px;
  background-color: transparent;
  font-weight: 300;
  font-size: 30px;
  color: #e4e4e4;
}
.slider__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/slider.jpg");
  background-size: 100% 100%;
}
.slider__item:nth-child(3) span {
  font-family: "Helvetica LT Std";
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  text-align: center;
}
.slider__item:nth-child(3) button {
  margin-top: 44px;
  border: 3px solid #afb1b3;
  border-radius: 3px;
  width: 233px;
  height: 46px;
  background-color: transparent;
  font-weight: 300;
  font-size: 30px;
  color: #e4e4e4;
}
.slider__item:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/slider.jpg");
  background-size: 100% 100%;
}
.slider__item:nth-child(4) span {
  font-family: "Helvetica LT Std";
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  text-align: center;
}
.slider__item:nth-child(4) button {
  margin-top: 44px;
  border: 3px solid #afb1b3;
  border-radius: 3px;
  width: 233px;
  height: 46px;
  background-color: transparent;
  font-weight: 300;
  font-size: 30px;
  color: #e4e4e4;
}
.slider__item:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/slider.jpg");
  background-size: 100% 100%;
}
.slider__item:nth-child(5) span {
  font-family: "Helvetica LT Std";
  font-weight: bold;
  font-size: 44px;
  color: #fff;
  text-align: center;
}
.slider__item:nth-child(5) button {
  margin-top: 44px;
  border: 3px solid #afb1b3;
  border-radius: 3px;
  width: 233px;
  height: 46px;
  background-color: transparent;
  font-weight: 300;
  font-size: 30px;
  color: #e4e4e4;
}
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 32px;
}
.slider__indicators li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b4b5bb transparent;
  border-radius: 20px;
}
.slider__indicators li.active {
  background-color: #69728c;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 83px auto;
  max-width: 900px;
}
.content h2 {
  font-size: 30px;
  font-weight: 300;
  color: #4c505d;
  text-align: center;
}
.content p {
  margin-top: 39px;
  font-weight: 500;
  font-size: 14px;
  color: #4c505d;
  text-align: center;
}
.content .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 77px;
}

.review {
  width: 100%;
  background-color: #00d089;
  padding-top: 96px;
  padding-bottom: 96px;
}
.review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.review_block img {
  width: 135px;
  height: 135px;
}
.review_block .name {
  margin-left: 38px;
}
.review_block .name h3 {
  font-weight: bold;
  font-size: 26px;
  color: #e4e4e4;
}
.review_block .name img {
  width: 126px;
  height: 92px;
}
.review .text {
  margin: 62px auto;
  max-width: 900px;
}
.review .text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  color: #fff;
  text-align: center;
}

.map {
  width: 100%;
}
.map iframe {
  position: absolute;
  z-index: 1;
}
.map .form {
  max-width: 430px;
  width: 100%;
  max-height: 430px;
  height: 100%;
  border-radius: 215px;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}
.map .form .contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map .form .contact_form input {
  margin-bottom: 13px;
}
.map .form .contact_form button {
  background-color: transparent;
  border: none;
}